.task_manager_parent_holder{
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.task_manager_parent{
    border-radius: 8px;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.task_manager_parent hr{
    position: absolute;
    bottom: 63px;
    width: calc(100% - 50px);
    border: 0;
    background-color: rgb(207, 207, 212);
    height: 1px;
    margin: 25px 0;
}

/* Input holder */
.task_manager_input_holder{
    position: absolute;
    bottom: 30px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.task_manager_input_holder div{
    display: flex;
    width: 100%;
}
.task_manager_input_holder input{
    width: 80%;
    height: 45px;
    font-size: 16px;
    padding: 0 15px;
    border: 0;
    outline: none;
    background-color: rgba(201, 201, 214, 0.454);
}
.task_manager_input_holder button{
    width: 20%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    outline: none;
    background-color: rgb(67, 62, 222);
    color: white;
    cursor: pointer;
}

/* collection */
.task_manager_tasks_collection{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 85%;
    overflow-y: scroll;
}
.task_manager_tasks_collection::-webkit-scrollbar{
    width:5px;
}
.task_manager_tasks_collection::-webkit-scrollbar-thumb{
    background-color: rgb(176, 176, 176);
    border-radius: 10px;
}
.task_manager_task_card{
    background-color: rgba(208, 208, 224, 0.826);
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}
.task_manager_task_card div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task_manager_task_card_left_text{
    font-size: 15px;
}
.task_manager_task_card_right svg{
    font-size: 18px;
    cursor: pointer;
}
.task_manager_task_card_right svg:hover{
    color: red;
}

/* Not found div */
.not_found_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    font-size: 21px;
}
.task_manager_no_tasks{
    padding: 100px 0;
    font-size: 20px;
}

/* spin css */
.task_manager_input_holder button div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}