.footer{
    position: fixed;
    width: 100%;
    bottom: 3px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    font-family:monospace;
}

@media screen and (max-width: 540px) {
    .footer{
         display: none;
    }
}