.navbar_parent_holder{
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 233, 241);
}

.navbar_holder_left{
    display: flex;
    align-items: center;
    column-gap: 3px;
    padding-left: 2px;
    font-weight: bold;
    font-size: 23px;
}

.navbar_holder_right{
    display: flex;
    align-items: center;
}   
.navbar_holder_right button{
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .navbar_holder_left{
        font-size: 20px;
    }
    .navbar_holder_right button{
        font-size: 12px;
        font-weight: bold;
    }    
}

@media screen and (max-width: 540px){
    .navbar_holder_left{
        font-size: 19px;
    }
    
}