.job_statistics_main{
    padding: 0 13px;
 }
 .job_statistics_main h2{
     text-align: center;
     font-size: 25px;
 }
 
 /* container */
 .job_statistics_container{
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
 }
 .job_statistics_container_child{
     background-color: white;
     text-align: center;
     padding: 30px;
     border-radius: 10px;
     font-size: 20px;
     font-weight: bold;
 }
 .job_statistics_container_child h3{
     font-size: 20px;
     color: rgb(38, 33, 110);
     margin-bottom: 7px;
 }
 
 /* layout specific design */
 .job_statistics_container_layout_1{
     display: flex;
     flex-direction: column;
     row-gap: 10px;
     width: 49%; 
 }
 .job_statistics_container_layout_1 .job_statistics_container_child{
     width: 100%;
 }
 .job_statistics_container_layout_2{
     width: 50%;
 }
 .job_statistics_container_layout_2 .job_statistics_container_child{
     width: 100%;
     height: 100%;
     padding: 10px;
 }
 .job_statistics_container_layout_2 .job_statistics_container_child div{
     margin-top: 15px;
     display: flex;
     justify-content: center;
     height: 85%;
 }
 .job_statistics_container_layout_3{
     width: 100%;
     display: flex;
     justify-content: space-between;
     column-gap: 10px;
 }

/* Responsive design */
 @media screen and (max-width: 1024px){
    .job_statistics_main h2{
        font-size: 22px;
    }
    .job_statistics_container_child{
        padding: 20px;
        font-size: 16px;
    }
    .job_statistics_container_child h3{
        font-size: 17px;
        margin-bottom: 3px;
    }
    .job_statistics_container_layout_2 .task_statistics_container_child div{
        margin-top: 15px;
        height: 80%;
    }
    .job_statistics_container_layout_2 h2{
        font-size: 17px;
    }
}

@media screen and (max-width: 820px){
    .job_statistics_container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .job_statistics_container_layout_1{
        width: 100%; 
    }
    .job_statistics_container_layout_2{
        width: 100%;
    }
    .job_statistics_container_layout_2 .job_statistics_container_child{
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .job_statistics_container_layout_2 .job_statistics_container_child{
        height: 300px;
    }
}